<h1>O estudante</h1>
<p><b>Autora:</b> Adelaide Carraro</p>
<p><b>Nota:</b> 100000</p>
<p><b>Descrição:</b>
    Publicado pela primeira vez em 1975, O Estudante, de Adelaide Carraro, 
    vem sendo lido por gerações e gerações. A narrativa do adolescente Roberto 
    Lopes Mascarenhas sobre o drama vivido por sua família tem comovido os leitores 
    de todas as idades. Seu irmão mais velho, Renato, excelente filho, estudioso, ativo, 
    fundador de uma associação de jovens do colégio com a finalidade de atuar nas comunidades 
    carentes, envolve-se com as drogas através de um colega da escola: Você se lembra daquele 
    dia em que eu estava com dor de cabeça e o Mário me deu aquele comprimido? Pois bem, 
    era droga. Eu não sabia, você entende.

    Os traficantes não querem que os estudantes corram risco para adquirirem a erva, por 
    isso convidam a irem às suas casas. Isso até viciar o estudante e se o estudante 
    conseguir viciar outro estudante, tem desconto de dez por cento. A mudança brusca no 
    comportamento de Renato desequilibra a família e leva o pai a cometer uma tragédia.

</p>
<div>

</div>
